@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

#root, html, body{
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
}

.app{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/random');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background: whitesmoke;
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
    border-radius: 10px;
    flex-direction: column;
}

.advice{
    display: flex;
    align-items: center;
    height: 580px;
}

.button{
    font-family: 'Nunito', sans-serif;
    padding: 2% 4% ;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.2s; outline: none;
    cursor: pointer;
    border: none;
    outline: none;
}

.button:hover{
    opacity: 0.8;
}

@media (max-width: 600px){
    .card{
        width: 80%;
        height: 35%;
    }
    .button{
        margin-bottom: 20px;
    }
}

